@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  /* Primary */

  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* ### Secondary */

  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--Gray); */
  font-family: "Poppins";
  font-size: 18px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 6rem;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: var(--Grayish-Violet);
  display: none;
}

#menu {
  display: none;
}

#menu.active {
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--Dark-Violet);
}

.list {
  width: 100%;
}

.active .list li {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}

.active .list .line {
  border-bottom: 1px solid #fff;
  border-width: thin;
  margin-bottom: 1.5rem;
}
.active .list button {
  width: 70%;
  height: 2.5rem;
}

.active .list li > a {
  color: #fff;
  padding-top: 2rem;
}

.active .list li > a:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.menu {
  margin-left: -5rem;
}

.menu .list li {
  display: inline-block;
  margin-left: 20px;
  opacity: 0.5;
}
.menu .list li:hover {
  opacity: 1;
}

.menu .list .mobile {
  display: none;
}

a {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
}

.container {
  /* max-width: 160rem; */
  margin: 1rem auto;
  padding: 0 5rem;
}

button {
  color: white;
  border: none;
  outline: none;
  background-color: var(--Cyan);
  border-radius: 50px;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.last-nav .login {
  opacity: 0.5;
}
.last-nav .login:hover {
  opacity: 1;
}

.last-nav button {
  margin-left: 1rem;
}

/* Main */

section {
  padding: 5rem;
}
.page1 {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  overflow: hidden;
}

.page1 .left {
  max-width: 30vw;
}
.page1 .left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--Very-Dark-Violet);
}
.page1 .left p {
  color: var(--Grayish-Violet);
}
.page1 .left button {
  margin-top: 1.5rem;
}

.page1 .right {
  flex-basis: 50%;
  margin-left: 5rem;
}
.right img {
  width: 125%;
}

/* section */

.form {
  position: relative;
  top: -6vh;
  width: 100%;
  max-width: 70vw;
  background: url(./images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--Dark-Violet);
  padding: 2.5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 100%;
  max-width: 70vw;
  padding: 0.7rem 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-link {
  color: var(--Cyan);
}
.result-right button {
  color: white;
  border: none;
  outline: none;
  background-color: var(--Cyan);
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.input-textbox {
  width: 45rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 1rem;
}

.submit-btn {
  color: white;
  border: none;
  outline: none;
  background-color: var(--Cyan);
  padding: 0.7rem 1rem;
  border-radius: 5px;
}
.submit-btn:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: hsla(180, 66%, 49%, 0.6);
}

.bg {
  background-color: hsla(0, 0%, 75%, 0.3);
}
/* stats */

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  max-width: 38vw;
  text-align: center;
}

.head h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--Very-Dark-Violet);
}

.head p {
  color: var(--Grayish-Violet);
}

.main-stats {
  position: relative;
  margin-top: 2rem;
  padding-top: 1.5rem;
  display: flex;
  min-height: 50vh;
}

.icon img {
  padding: 0.5rem;
  background-color: var(--Dark-Violet);
  border-radius: 50%;
}
.card-bg1 {
  background-color: #fff;
  width: 30vw;
  height: 100%;
  border-radius: 7px;
  margin-right: 1rem;
}
.card-bg2 {
  background-color: #fff;
  width: 30vw;
  height: 100%;
  border-radius: 7px;
  margin-right: 1rem;
  margin-top: 3rem;
}
.card-bg3 {
  background-color: #fff;
  width: 30vw;
  height: 100%;
  border-radius: 7px;
  margin-top: 6rem;
}
.card {
  position: relative;
  padding: 2rem;
  width: 30vw;
}
.card h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Very-Dark-Violet);
}
.card p {
  padding-top: 1rem;
  color: var(--Grayish-Violet);
}
.cyan {
  display: inline-block;
  position: absolute;
  left: 32.5%;
  align-self: center;
  border: 5px solid var(--Cyan);
  width: 15px;
}
.cyan2 {
  display: inline-block;
  position: absolute;
  left: 66.2%;
  align-self: center;
  border: 5px solid var(--Cyan);
  width: 15px;
}

/* banner */
.banner {
  background: url(./images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem;
  background-color: var(--Dark-Violet);
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.banner-content h2 {
  color: #fff;
}

/* footer */
.footer {
  background-color: var(--Very-Dark-Violet);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.footer-container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 3rem 5rem;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
}
ul li:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.list1 > p {
  padding-bottom: 1rem;
  color: #fff;
}
.list2 > p {
  padding-bottom: 1rem;
  color: #fff;
}
.list3 > p {
  padding-bottom: 1rem;
  color: #fff;
}

.list1 > li {
  color: var(--Gray);
}
.list2 > li {
  color: var(--Gray);
}
.list3 > li {
  color: var(--Gray);
}

.footer-icon img {
  padding: 0.5rem;
}
.footer-icon img:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .menu-icon {
    color: var(--Grayish-Violet);
    display: block;
  }
  .menu {
    display: none;
  }
  .last-nav {
    display: none;
  }
  .container {
    padding: 0 1.5rem;
  }

  /* Main */

  section {
    padding: 2rem;
  }

  .page1 {
    position: relative;
    min-height: 120vh;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    overflow: hidden;
  }
  .page1 .right {
    position: absolute;
    top: auto;
    left: 4rem;
    min-height: 100%;
    width: 100%;
  }

  .page1 .left {
    position: absolute;
    top: 50%;
    left: 2%;
    right: 2%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .page1 .left h1 {
    text-align: center;
  }
  .page1 .left p {
    text-align: center;
  }
  .page1 .left button {
    width: 100%;
    max-width: 60%;
    margin: 1.5rem auto;
    margin-left: 19%;
  }

  .page1 .right {
    flex-basis: 100%;
    margin: auto;
  }
  .right img {
    width: 100%;
  }

  /* section */

  .form {
    position: relative;
    top: -6vh;
    width: 100%;
    min-height: 30vh;
    max-width: 85vw;
    background: url(./images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--Dark-Violet);
    padding: 2.5rem;
    border-radius: 10px;
  }

  .input {
    position: absolute;
    min-width: 82%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .input-textbox {
    width: 100%;
  }

  .submit-btn {
    width: 100%;
    margin-right: 1rem;
  }

  .result {
    width: 100%;
    max-width: 70vw;
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .input-link {
    margin-bottom: 0.7rem;
  }
  .div {
    margin-bottom: 0.7rem;
    border-bottom: 0.5px solid var(--Gray);
    border-width: thin;
    width: 100%;
  }
  .result-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .output-link {
    margin-bottom: 0.7rem;
  }

  .result-right > button {
    width: 100%;
    margin: auto;
  }

  /* stats */

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head {
    max-width: 100%;
    text-align: center;
  }

  .main-stats {
    position: relative;
    flex-direction: column;
    min-height: 110vh;
    padding-top: 2.5rem;
    width: 100%;
  }

  .card-bg1 {
    width: 100%;
    height: 100%;
  }

  .card-bg2 {
    width: 100%;
    height: 100%;
    margin-top: 6rem;
  }
  .card-bg3 {
    height: 100%;
    width: 100%;
  }

  .card {
    width: 100%;
    min-height: 20vh;
  }
  .card .icon {
    top: -7%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .card h3 {
    padding-top: 2rem;
    text-align: center;
  }
  .card p {
    text-align: center;
  }
  .cyan {
    display: inline-block;
    position: absolute;
    left: 48.8%;
    top: 29.3%;
    width: 5px;
    height: 70px;
  }
  .cyan2 {
    display: inline-block;
    position: absolute;
    left: 48.8%;
    top: 66.2%;
    width: 5px;
    height: 70px;
  }

  /* banner */
  .banner {
    background: url(./images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem;
    background-color: var(--Dark-Violet);
  }

  .banner-content h2 {
    text-align: center;
  }
  .banner-content button {
    width: 10rem;
  }

  /* footer */
  .footer {
    background-color: var(--Very-Dark-Violet);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    margin: auto;
  }
  .footer-logo {
    margin: auto;
  }

  .footer-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ul li {
    list-style-type: none;
  }
  ul li:hover {
    color: var(--Cyan);
    cursor: pointer;
  }

  .list1 > p {
    margin-top: 1.5rem;
    padding: 1rem auto;
    color: #fff;
  }
  .list2 > p {
    margin-top: 1.5rem;
    padding: 1rem auto;
    color: #fff;
  }
  .list3 > p {
    margin-top: 1.5rem;
    padding: 1rem auto;
    color: #fff;
  }

  .footer-icon img {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  .footer-icon img:hover {
    cursor: pointer;
  }
}

@media (min-width: 960px) {
}
